.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
  background-image: url(../assets/c-pop1.jpg);
  background-position: center;
  background-size: cover;
}

.input {
  padding: 0.5rem 1rem;
  width: 70%;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 0.8rem;
  text-transform: capitalize;
}
